In [ ]:
import pandas as pd
import re
import numpy as np

In [ ]:
# If you are using Google Colab, you can mount your Google Drive to access the data
# from google.colab import drive
# drive.mount('/content/drive')
# Customers = pd.read_excel('/content/Customer_list (1).xlsx')

In [ ]:
Customers = pd.read_excel('Try-to-clean_Customer list.xlsx')

In [ ]:
Customers.head()

In [ ]:
#remove column Unnamed: 0.1 &	Unnamed: 0
Customers = Customers.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

In [ ]:
Customers

In [ ]:
#Check Missing Data
missing_data = Customers.isnull().sum()
print(missing_data)

In [ ]:
print(Customers.dtypes)

In [ ]:
# Missing Phone Number Data
Customers['Phone_Number'] = Customers['Phone_Number'].replace('[^0-9]', '', regex=True)
Customers['Phone_Number'] = Customers['Phone_Number'].fillna('')
Customers['Phone_Number'] = Customers['Phone_Number'].apply(str).apply(lambda x: x[:3]+'-'+x[3:7]+'-'+x[7:])
Customers

In [ ]:
Customers['CustomerID'] = Customers['CustomerID'].astype(int)

In [ ]:
#Customers = Customers.drop(index=21)
Customers

In [ ]:
# Checking Partial Duplicated Data based on 'CustomerID'
duplicates = Customers.duplicated(subset=['CustomerID'])

# Display the rows that are duplicates
duplicate_rows = Customers[duplicates]
print(duplicate_rows)

# Print the index of the duplicate rows
print("Index of duplicate rows:")
print(duplicate_rows.index.tolist())

In [ ]:
# Drop the duplicate row based on 'CustomerID'
Customers = Customers.drop_duplicates(subset=['CustomerID'])

# Display the DataFrame after removing duplicates
Customers

In [ ]:
#Customers['CustomerID'] = Customers['CustomerID'].interpolate()
#Customers['CustomerID']

In [ ]:
Customers['First_Name'] = Customers['First_Name'].replace('[^a-zA-Z]', '', regex=True)
Customers['Last_Name'] = Customers['Last_Name'].replace('[^a-zA-Z]', '', regex=True)
Customers

In [ ]:
# fill NaN with empty string
Customers['First_Name'] = Customers['First_Name'].fillna('')
Customers['Last_Name'] = Customers['Last_Name'].fillna('')

Customers

In [ ]:
print(Customers['Paying Customer'].unique())
print(Customers['Do_Not_Contact'].unique())

In [ ]:
Customers['Paying Customer'] = Customers['Paying Customer'].replace({
    'N': 'No',
    'Y': 'Yes',
    'N/a': 'No',
    np.nan: 'No'
})

# Replace values in 'Do_Not_Contact' column
Customers['Do_Not_Contact'] = Customers['Do_Not_Contact'].replace({
    'N': 'No',
    'Y': 'Yes',
    'N/a': 'No',
    np.nan: 'No'
})

print("\nDataFrame after transformation:")
print(Customers)

In [ ]:
# Replace NaN values with the mode value of the 'Age' column
mode_value = Customers['age'].mode()[0]  # Calculate the mode (most frequent value)
Customers['age'].fillna(mode_value, inplace=True)  # Replace NaN with the mode

In [ ]:
Customers